.header-container {
  width: 100%;
  position: relative;
  .animation {
    position: absolute;
    height: 700px;
    width: 100%;
    background: url("../assets/img/pokemon_list_bg.png");
    animation: rotate 5s infinite linear;
  }
  header {
    height: 130px;
    background: url("../assets/img/header_bg.png") center/cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 10;
    h1 {
      color: black;
      font-weight: 400;
      margin-top: 30px;
    }
  }
}
