.pokemon {
  min-width: 1400px;
  max-width: 1400px;
  background: url("../assets/img/space.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;

  .pokemon-container {
    padding-top: 30px;
    width: 100%;
    .pokemon-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .previous {
      }
      .infos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p {
          color: #b4ebff;
          font-size: 2rem;
          margin-bottom: -20px;
          z-index: 10;
        }
        h2 {
          font-size: 3rem;
          text-shadow: 0 0 3px #000, 2px 2px 7px #9be1ff, -2px -2px 7px #9be1ff;
          font-weight: 400;
          z-index: 10;
        }
      }
      .next {
      }
    }
    .principal {
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 700px;
      padding-top: 70px;
      .left {
        width: 25%;
        height: 100%;
        display: flex;
        flex-direction: column;
        // align-items: center;
        padding: 0 0 0 5%;
        .types-container {
          width: 100%;
          margin: 0 30% 0 30px;
          h4 {
            font-size: 2rem;
            font-weight: 400;
            margin-left: 15%;
          }
          ul {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 5% 0 0 0;
            height: 100px;
            // width: 50%;
            li {
              text-transform: capitalize;
              font-size: 1.2rem;
              border-radius: 20px;
              padding: 1% 10%;
              text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
              text-align: center;
              width: 80%;
            }
            & > *:nth-child(even) {
              margin-left: 20%;
              width: 80%;
            }
          }
        }
        .weaknesses-container {
          width: 100%;
          margin: 100px 30% 0 30px;
          h4 {
            font-size: 2rem;
            font-weight: 400;
            margin-left: 15%;
          }
        }
      }
      .middle {
        position: relative;
        width: 50%;
        height: 100%;
        .animation {
          background: url("../assets/img/pokemon_bg.png") center/contain
            no-repeat;
          height: 95%;
          position: absolute;
          width: 95%;
          top: -100px;
          left: 2.5%;
          animation: rotate 3s infinite linear;
        }
        .img-container {
          background: url("../assets/img/pokemon_circle_bg.png") center/contain
            no-repeat;
          position: relative;
          z-index: 10;
          width: 100%;
          height: 400px;
          max-height: 500px;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            filter: drop-shadow(0 0 5px white) drop-shadow(0 0 2px white);
            transform: scale(0.8);
          }
        }
      }
      .right {
        width: 25%;
        height: 100%;
      }
    }
  }
}
