@font-face {
  font-family: noto;
  src: url("../assets/fonts/NotoSans-VariableFont_wdth,wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: noto;
}

body {
  background: black;
}

li {
  list-style: none;
}
