@font-face {
  font-family: noto;
  src: url("../assets/fonts/NotoSans-VariableFont_wdth,wght.ttf");
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  font-family: noto;
}

body {
  background: rgb(29, 38, 58);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

li {
  list-style: none;
}
li.grass {
  background: #92bf19;
  border: 1px solid #b4f000;
  -webkit-box-shadow: 0 0 0.25em 0.03em #92bf19;
          box-shadow: 0 0 0.25em 0.03em #92bf19;
}
li.poison {
  background: #be78be;
  border: 1px solid #d28cd2;
  -webkit-box-shadow: 0 0 0.25em 0.03em #be78be;
          box-shadow: 0 0 0.25em 0.03em #be78be;
}
li.fire {
  background: #ff3700;
  border: 1px solid #ff3700;
  -webkit-box-shadow: 0 0 0.25em 0.03em #ff3700;
          box-shadow: 0 0 0.25em 0.03em #ff3700;
}
li.flying {
  background: #79bcd7;
  border: 1px solid #78dcff;
  -webkit-box-shadow: 0 0 0.25em 0.03em #79bcd7;
          box-shadow: 0 0 0.25em 0.03em #79bcd7;
}
li.water {
  background: #0094e5;
  border: 1px solid #14b9ff;
  -webkit-box-shadow: 0 0 0.25em 0.03em #0094e5;
          box-shadow: 0 0 0.25em 0.03em #0094e5;
}
li.dragon {
  background: #3c64c8;
  border: 1px solid #5078dc;
  -webkit-box-shadow: 0 0 0.25em 0.03em #3c64c8;
          box-shadow: 0 0 0.25em 0.03em #3c64c8;
}
li.bug {
  background: #32b432;
  border: 1px solid #46c846;
  -webkit-box-shadow: 0 0 0.25em 0.03em #32b432;
          box-shadow: 0 0 0.25em 0.03em #32b432;
}
li.normal {
  background: #a0a0a0;
  border: 1px solid #dcdcdc;
  -webkit-box-shadow: 0 0 0.25em 0.03em #a0a0a0;
          box-shadow: 0 0 0.25em 0.03em #a0a0a0;
}
li.dark {
  background: #646464;
  border: 1px solid #787878;
  -webkit-box-shadow: 0 0 0.25em 0.03em #646464;
          box-shadow: 0 0 0.25em 0.03em #646464;
}
li.electric {
  background: #e4b700;
  border: 1px solid #ffe100;
  -webkit-box-shadow: 0 0 0.25em 0.03em #e4b700;
          box-shadow: 0 0 0.25em 0.03em #e4b700;
}
li.ground {
  background: #cca142;
  border: 1px solid #fac85a;
  -webkit-box-shadow: 0 0 0.25em 0.03em #cca142;
          box-shadow: 0 0 0.25em 0.03em #cca142;
}
li.ice {
  background: #00b7ee;
  border: 1px solid #14f5ff;
  -webkit-box-shadow: 0 0 0.25em 0.03em #00b7ee;
          box-shadow: 0 0 0.25em 0.03em #00b7ee;
}
li.steel {
  background: #96b4dc;
  border: 1px solid #aac8f0;
  -webkit-box-shadow: 0 0 0.25em 0.03em #96b4dc;
          box-shadow: 0 0 0.25em 0.03em #96b4dc;
}
li.psychic {
  background: #dc78c8;
  border: 1px solid #f08cdc;
  -webkit-box-shadow: 0 0 0.25em 0.03em #dc78c8;
          box-shadow: 0 0 0.25em 0.03em #dc78c8;
}
li.fairy {
  background: #ff7eb8;
  border: 1px solid #ffafdc;
  -webkit-box-shadow: 0 0 0.25em 0.03em #ff7eb8;
          box-shadow: 0 0 0.25em 0.03em #ff7eb8;
}
li.fighting {
  background: #c85500;
  border: 1px solid #dc6900;
  -webkit-box-shadow: 0 0 0.25em 0.03em #c85500;
          box-shadow: 0 0 0.25em 0.03em #c85500;
}
li.rock {
  background: #a07850;
  border: 1px solid #b48c64;
  -webkit-box-shadow: 0 0 0.25em 0.03em #a07850;
          box-shadow: 0 0 0.25em 0.03em #a07850;
}
li.ghost {
  background: #8c78f0;
  border: 1px solid #a08cff;
  -webkit-box-shadow: 0 0 0.25em 0.03em #8c78f0;
          box-shadow: 0 0 0.25em 0.03em #8c78f0;
}

a {
  text-decoration: none;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.app-container {
  min-width: 1400px;
  max-width: 1400px;
  background: url("../assets/img/space.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container {
  width: 100%;
  position: relative;
}
.header-container header {
  height: 130px;
  background: url("../assets/img/header_bg.png") center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 10;
}
.header-container header h1 {
  color: black;
  font-weight: 400;
  margin-top: 30px;
}
.header-container header p a {
  text-decoration: underline;
}

.banner-container {
  height: 400px;
  position: relative;
  width: 100%;
}
.banner-container .animation {
  position: absolute;
  height: 700px;
  width: 100%;
  background: url("../assets/img/pokemon_list_bg.png");
  -webkit-animation: rotate 5s infinite linear;
          animation: rotate 5s infinite linear;
  top: -110px;
}
.banner-container .circle-container {
  height: 400px;
  position: relative;
  width: 100%;
}
.banner-container .circle-container div.pkm-circle {
  border: 2px solid #4973a2;
  border-radius: 300px;
  background: rgb(29, 38, 58);
}
.banner-container .circle-container div.pkm-circle img {
  height: 110px;
  width: 110px;
  -webkit-filter: drop-shadow(0 0 0.1rem black);
          filter: drop-shadow(0 0 0.1rem black);
}
.banner-container .circle-container div.pkm-circle:first-of-type {
  position: absolute;
  top: 40%;
  left: 5%;
}
.banner-container .circle-container div.pkm-circle:nth-of-type(2) {
  position: absolute;
  top: 20%;
  left: 15%;
}
.banner-container .circle-container div.pkm-circle:nth-of-type(3) {
  position: absolute;
  top: 61%;
  left: 15%;
}
.banner-container .circle-container div.pkm-circle:nth-of-type(4) {
  position: absolute;
  top: 40%;
  left: 22.5%;
}
.banner-container .circle-container div.pkm-circle:nth-of-type(5) {
  position: absolute;
  top: 20%;
  left: 30%;
}
.banner-container .circle-container div.pkm-circle:nth-of-type(6) {
  position: absolute;
  top: 61%;
  left: 30%;
}
.banner-container .circle-container div.pkm-circle:nth-of-type(7) {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 20%;
  border: 2px solid #85d7fd;
  -webkit-box-shadow: 0 0 5px #b3eafe, 0 0 5px #b3eafe;
          box-shadow: 0 0 5px #b3eafe, 0 0 5px #b3eafe;
  background: url("../assets/img/pokemon_circle_bg.png") center/cover;
}
.banner-container .circle-container div.pkm-circle:nth-of-type(7) img {
  height: 300px;
  width: 300px;
}
.banner-container .circle-container div.pkm-circle:nth-of-type(8) {
  position: absolute;
  top: 61%;
  right: 30%;
}
.banner-container .circle-container div.pkm-circle:nth-of-type(9) {
  position: absolute;
  top: 20%;
  right: 30%;
}
.banner-container .circle-container div.pkm-circle:nth-of-type(10) {
  position: absolute;
  top: 40%;
  right: 22.5%;
}
.banner-container .circle-container div.pkm-circle:nth-of-type(11) {
  position: absolute;
  top: 20%;
  right: 15%;
}
.banner-container .circle-container div.pkm-circle:nth-of-type(12) {
  position: absolute;
  top: 61%;
  right: 15%;
}
.banner-container .circle-container div.pkm-circle:last-of-type {
  position: absolute;
  top: 40%;
  right: 5%;
}

.search-engine {
  z-index: 10;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 450px;
  margin-top: 60px;
}
.search-engine .search-options {
  border: 2px solid #4e7cb0;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 10px #b3eafe;
          box-shadow: 0px 0px 10px #b3eafe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 30%;
}
.search-engine .search-options .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.search-engine .search-options .search input {
  color: black;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card-container .card-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.card-container button.load {
  width: 40%;
  border: 2px solid #4e7cb0;
  background: none;
  margin: 5% 0 10% 0;
  color: #b3eafe;
  font-size: 1.5rem;
  text-shadow: 0 0 5px #b3eafe, 0 0 5px #b3eafe;
  border-radius: 30px;
  padding: 1% 2%;
  cursor: pointer;
}
.card-container button.load:hover {
  background: #b3eafe;
  color: black;
}

.card {
  height: 501px;
  width: 328px;
  background: url("../assets/img/list_pokemon_bg.png") 50% 50% no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1%;
  z-index: 10;
}
.card .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16% 0 16% 0;
}
.card .img-container img {
  width: 50%;
  -webkit-filter: drop-shadow(0 0 0.2rem black);
          filter: drop-shadow(0 0 0.2rem black);
}
.card .infos-container p.pkm-id {
  color: #b4ebff;
  font-size: 1.5rem;
  padding: 8% 0 0 8%;
}
.card .infos-container p.pkm-name {
  font-size: 2rem;
  padding: 0 0 0 8%;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card .infos-container ul.pkm-types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 15% 0 0 0;
}
.card .infos-container ul.pkm-types li {
  text-transform: capitalize;
  font-size: 1.2rem;
  border-radius: 20px;
  padding: 1% 10%;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}

.pokemon {
  min-width: 1400px;
  max-width: 1400px;
  background: url("../assets/img/space.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.pokemon .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.pokemon .pokemon-container {
  padding-top: 30px;
  width: 100%;
  z-index: 2;
  overflow: hidden;
}
.pokemon .pokemon-container .principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 700px;
  padding-top: 70px;
}
.pokemon .pokemon-container .principal .left {
  width: 25%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 0 5%;
}
.pokemon .pokemon-container .principal .left .types-container {
  width: 100%;
  margin: 0 30% 0 30px;
}
.pokemon .pokemon-container .principal .left .types-container h4 {
  font-size: 2rem;
  font-weight: 400;
  margin-left: 15%;
}
.pokemon .pokemon-container .principal .left .types-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5% 0 0 0;
  height: 100px;
}
.pokemon .pokemon-container .principal .left .types-container ul li {
  text-transform: capitalize;
  font-size: 1.2rem;
  border-radius: 20px;
  padding: 1% 10%;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  text-align: center;
  width: 80%;
}
.pokemon .pokemon-container .principal .left .types-container ul > *:nth-child(even) {
  margin-left: 20%;
  width: 80%;
}
.pokemon .pokemon-container .principal .left .weaknesses-container {
  width: 100%;
  margin: 100px 30% 0 30px;
}
.pokemon .pokemon-container .principal .left .weaknesses-container h4 {
  font-size: 2rem;
  font-weight: 400;
  margin-left: 15%;
}
.pokemon .pokemon-container .principal .middle {
  position: relative;
  width: 50%;
  height: 100%;
}
.pokemon .pokemon-container .principal .middle .animation {
  background: url("../assets/img/pokemon_bg.png") center/contain no-repeat;
  height: 95%;
  position: absolute;
  width: 95%;
  top: -100px;
  left: 2.5%;
  -webkit-animation: rotate 3s infinite linear;
          animation: rotate 3s infinite linear;
}
.pokemon .pokemon-container .principal .middle .img-container {
  background: url("../assets/img/pokemon_circle_bg.png") center/contain no-repeat;
  position: relative;
  z-index: 10;
  width: 100%;
  height: 400px;
  max-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pokemon .pokemon-container .principal .middle .img-container img {
  -webkit-filter: drop-shadow(0 0 5px white) drop-shadow(0 0 2px white);
          filter: drop-shadow(0 0 5px white) drop-shadow(0 0 2px white);
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
.pokemon .pokemon-container .principal .right {
  width: 25%;
  height: 100%;
}
.pokemon .pokemon-container .principal .right .infos {
  margin: 30% 0 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "h c c" "w g g" "a a a";
  gap: 10%;
}
.pokemon .pokemon-container .principal .right .infos .height {
  grid-area: h;
}
.pokemon .pokemon-container .principal .right .infos .weight {
  grid-area: w;
}
.pokemon .pokemon-container .principal .right .infos .ability {
  grid-area: a;
}
.pokemon .pokemon-container .principal .right .infos .category {
  grid-area: c;
}
.pokemon .pokemon-container .principal .right .infos .gender {
  grid-area: g;
}
.pokemon .pokemon-container .principal .right .infos h4 {
  font-size: 1.4rem;
  color: #b3eafe;
  font-weight: 400;
}
.pokemon .pokemon-container .principal .right .infos p {
  font-size: 1.2rem;
  font-weight: 400;
}
.pokemon .pokemon-container .principal .right .infos li {
  font-size: 1.2rem;
  font-weight: 400;
}
.pokemon .pokemon-container .carac {
  width: 110%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -200px;
}
.pokemon .pokemon-container .carac .left {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pokemon .pokemon-container .carac .left h3 {
  font-size: 2rem;
  color: #00d2ff;
  font-weight: 400;
  font-style: italic;
}
.pokemon .pokemon-container .carac .left p.resume {
  font-size: 1.4rem;
  width: 50%;
  font-style: italic;
}
.pokemon .pokemon-container .carac .right {
  width: 50%;
  height: 100%;
}

.pokemon-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.pokemon-header .previous {
  position: absolute;
  left: 1%;
  width: 15%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid white;
  border-radius: 100px;
  -webkit-box-shadow: 0px 0px 5px white;
          box-shadow: 0px 0px 5px white;
}
.pokemon-header .previous a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.pokemon-header .previous a .arrow-container {
  position: absolute;
  left: 5%;
  font-size: 2rem;
  border-radius: 50%;
  border: 2px solid #00d2ff;
  -webkit-box-shadow: 0px 0px 5px #00d2ff;
          box-shadow: 0px 0px 5px #00d2ff;
  width: 3rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pokemon-header .previous a .arrow-container p.arrow {
  color: #00d2ff;
}
.pokemon-header .previous a .infos-previous {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 50%;
  right: 10%;
}
.pokemon-header .previous a .infos-previous p.id {
  color: #00d2ff;
  font-size: 1rem;
}
.pokemon-header .previous a .infos-previous p.name {
  font-size: 1.4rem;
  text-transform: capitalize;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.pokemon-header .infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.pokemon-header .infos p {
  color: #b4ebff;
  font-size: 2rem;
  margin-bottom: -20px;
  z-index: 10;
}
.pokemon-header .infos h2 {
  text-transform: capitalize;
  font-size: 3rem;
  text-shadow: 0 0 3px #000, 2px 2px 7px #9be1ff, -2px -2px 7px #9be1ff;
  font-weight: 400;
  z-index: 10;
}
.pokemon-header .next {
  position: absolute;
  right: 1%;
  width: 15%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid white;
  border-radius: 100px;
  -webkit-box-shadow: 0px 0px 5px white;
          box-shadow: 0px 0px 5px white;
}
.pokemon-header .next a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  position: relative;
}
.pokemon-header .next a .arrow-container {
  position: absolute;
  right: 5%;
  font-size: 2rem;
  border-radius: 50%;
  border: 2px solid #00d2ff;
  -webkit-box-shadow: 0px 0px 5px #00d2ff;
          box-shadow: 0px 0px 5px #00d2ff;
  width: 3rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pokemon-header .next a .arrow-container p.arrow {
  color: #00d2ff;
}
.pokemon-header .next a .infos-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 10%;
  width: 50%;
}
.pokemon-header .next a .infos-next p.id {
  color: #00d2ff;
  font-size: 1rem;
}
.pokemon-header .next a .infos-next p.name {
  font-size: 1.4rem;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}/*# sourceMappingURL=index.css.map */